a.nuxt-link-active {
    font-weight: bold;
  }
  /* exact link will show the primary color for only the exact matching link */
  a.nuxt-link-exact-active {
    color: #00c58e;
  }
  .loginlink {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
  }
  .titlelink {
    color: white !important;
    text-decoration: none;
  }